body {
  margin: 2%;
  background-color: #E5DFFF;
}

#title {
  margin-top: 57px;
}

header {
  display: block;
  margin: auto;
  margin-bottom: 25px;
  width: 810px;
  height: 250px;
  padding: 5px;
  text-align: center;
}

.image {
  display: inline;
}

#left {
  height: 300px;
  width: 300px;
  margin: 5px;
  border-style: solid;
  border-color: gray;
}

#center {
  height: 300px;
  width: 300px;
  margin: 5px;
  border-style: solid;
  border-color: gray;
}

#right {
  height: 300px;
  width: 300px;
  margin: 5px;
  border-style: solid;
  border-color: gray;
}

#busDriver {
  float: left;
  margin-top: 100px;
}

#busIcon {
  float: left;
  padding: 20px;
}

.busIcon:hover {
  -webkit-transform: rotate(360deg);
  -webkit-transition: -webkit-transform .5s;
}

h1 {
    font-family: 'Geo', sans-serif;
    font-size: 125px;
    display: inline;
    color: black;
    text-shadow: 2px 2px 2px white;
    margin-right: 30px;
}

h2 {
  font-family: 'Geo', sans-serif;
  font-size: 15px;
  /*display: inline;*/
  color: black;
  margin-right: 30px;
}


#imagesSection {
  display: block;
  margin: auto;
  width: 960px;
  height: 320px;
  padding: 5px;
  background: repeating-radial-gradient(
  circle,
  purple,
  purple 10px,
  #4b026f 10px,
  #4b026f 20px
);
border-radius: 10px;
}
